{% extends "Sidebar.html" %}

{% block title %}
Akun
{% endblock %}

{% block body1 %}
<body class="p-8 bg-gray-100">
    <h1 class="text-2xl font-bold mb-4">Daftar Akun</h1>
    <button class="mb-4 bg-blue-400 text-black px-3 py-1 rounded hover:bg-blue-600"><a href="{{url_for('register')}}">tambah akun</a></button>

    <table class="w-full border-collapse border border-gray-300 bg-white">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-300 p-2">ID Pengguna</th>
                <th class="border border-gray-300 p-2">Nama Lengkap</th>
                <th class="border border-gray-300 p-2">Username</th>
                <th class="border border-gray-300 p-2">Password</th>
                <th class="border border-gray-300 p-2">Hak Akses</th>
                <th class="border border-gray-300 p-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for akun in akun_list %}
            <tr>
                <td class="border border-gray-300 p-2">{{ akun[0] }}</td>
                <td class="border border-gray-300 p-2">{{ akun[1] }}</td>
                <td class="border border-gray-300 p-2">{{ akun[2] }}</td>
                <td class="border border-gray-300 p-2">{{ akun[3] }}</td>
                <td class="border border-gray-300 p-2">{{ akun[4] }}</td>
                <td class="border border-gray-300 p-2 items-center justify-center">
                    <a href="{{url_for('editakun', user_id=akun[0])}}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">Edit</a>
                    <form method="POST" action="{{url_for('hapusakun', user_id=akun[0])}}" style="display: inline;">
                        <button type="submit" class="bg-red-500 text-white px-4 py-1 rounded hover:bg-red-600"
                            onclick="return confirm('Apakah Anda yakin ingin menghapus akun ini?')">Hapus</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}