{% extends "Sidebar.html" %}

{% block title %}
Edit pelanggan
{% endblock %}

{% block body1 %}
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Edit Akun</h1>
        <form action="{{ url_for('editmember', member_id=pelanggan['pelangganid']) }}" method="post">
            <div class="mb-4">
                <label for="namapelanggan" class="block text-sm font-medium text-gray-700">Nama Pelanggan</label>
                <input type="text" id="namapelanggan" name="namapelanggan" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="mb-4">
                <label for="alamat" class="block text-sm font-medium text-gray-700">Alamat</label>
                <input type="textarea" id="alamat" name="alamat" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="mb-6">
                <label for="notlp" class="block text-sm font-medium text-gray-700">No Telepon</label>
                <input type="text" id="notlp" name="notlp" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700">Simpan</button>
        </form>
    </div>
</body>
{% endblock %}