{% extends "Sidebar.html" %}

{% block title %}
Tambah Akun
{% endblock %}

{% block body1 %}
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Tambah Akun</h1>
        <form action="{{ url_for('register') }}" method="post">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Nama lengkap</label>
                <input type="text" id="nama" name="nama" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="mb-6">
                <label for="role" class="block text-sm font-medium text-gray-700">Hak Akses</label>
                <select id="role" name="role" class="mt-1 block w-full p-2 border rounded-lg border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="admin">Admin</option>
                    <option value="petugas">Petugas</option>
                </select>
            </div>
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700">SignUp</button>
        </form>
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mt-4">
                {% for category, message in messages %}
                    <div class="bg-red-100 text-red-800 p-2 rounded mb-2">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %} -->
    </div>
</body>
{% endblock %}